*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}
h1{
    padding: 30px;
    text-align: center;
    color: white;
    font-size: 3rem;
}
.container{
    height: 100vh;
    background: linear-gradient(rgb(176, 38, 38),skyblue,rgb(209, 186, 186));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    
}
.search{
    flex-direction: column;
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search input{
    border-radius: 10px;
    height: 8vh;
    font-size: 1.2rem;
    text-transform: capitalize;
    padding: 20px;
    border: 1px solid black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
}
.search input::placeholder{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: capitalize;
}
button{
    background: white;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: 900;
    text-transform: capitalize;
    font-size: 1.5rem;
}
button:hover{
    transition: 0.9s;
    transform: scale(1.1);
    filter: invert(1);
}
.weather{
    border-radius: 2rem 0px;
    line-height: 30px;
    padding: 1rem;
    margin-top: 10px;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    /* color: white; */

    background-color: white;
}
.hide{
    display: none;
};